#####################################################################
#  Stepper Settings
#####################################################################




#####################################################################
#      X/Y Stepper Settings
#####################################################################


##  MCU - X-MOT
##  B Stepper - Left
[stepper_x]
step_pin: PE11
dir_pin: !PE10
enable_pin: !PE9

##  160 steps per mm -> 0.00625 mm per step 

##  0.9 Stepper Motor
full_steps_per_rotation: 400
microsteps: 32

##  1.8 Stepper Motor
#full_steps_per_rotation: 200
#microsteps: 16

rotation_distance: 40
endstop_pin: ^PA1
position_min: 0
position_endstop: 300
position_max: 300
homing_speed: 100
homing_retract_dist: 2
second_homing_speed: 5
homing_positive_dir: true





## MCU - Y-MOT
##  A Stepper - Right
[stepper_y]
step_pin: PD8
dir_pin: PB12
enable_pin: !PD9

##  160 steps per mm -> 0.00625 mm per step 

##  0.9 Stepper Motor
full_steps_per_rotation: 400
microsteps: 32

##  1.8 Stepper
#full_steps_per_rotation: 200
#microsteps: 16

rotation_distance: 40
endstop_pin: ^PA2
position_min: 0
position_endstop: 308
position_max: 308
homing_speed: 100
homing_retract_dist: 2
second_homing_speed: 5
homing_positive_dir: true
 



#####################################################################
#   Z Stepper Settings
#####################################################################

##  MCU - Z-MOT
##  Z0 Stepper - Front Left
[stepper_z]
step_pin: PD14
dir_pin: !PD13
enable_pin: !PD15

##  800 steps per mm -> 0.00125 mm per step

##  0.9 Stepper Motor
#full_steps_per_rotation: 400
#microsteps: 32

##  1.8 Stepper
full_steps_per_rotation: 200
microsteps: 16

gear_ratio: 80:16
rotation_distance: 40
endstop_pin: ^PA0
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##	Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
position_endstop: 0
position_max: 275
position_min: -2
homing_speed: 15.0
second_homing_speed: 3.0
homing_retract_dist: 2.0






##  MCU - E1-MOT
##  Z1 Stepper - Rear Left
[stepper_z1]
step_pin: PE6
dir_pin: PC13
enable_pin: !PE5

##  800 steps per mm -> 0.00125 mm per step 

##  0.9 Stepper Motor
#full_steps_per_rotation: 400
#microsteps: 32

##  1.8 Stepper
full_steps_per_rotation: 200
microsteps: 16

gear_ratio: 80:16
rotation_distance: 40







##  MCU - E2-MOT
##  Z2 Stepper - Rear Right
[stepper_z2]
step_pin: PE2
dir_pin: !PE4
enable_pin: !PE3

##  800 steps per mm -> 0.00125 mm per step 

##  0.9 Stepper Motor
#full_steps_per_rotation: 400
#microsteps: 32

##  1.8 Stepper
full_steps_per_rotation: 200
microsteps: 16

gear_ratio: 80:16
rotation_distance: 40








##  MCU - E3-MOT
##  Z3 Stepper - Front Right
[stepper_z3]
step_pin: PD12
dir_pin: PC4
enable_pin: !PE8

##  800 steps per mm -> 0.00125 mm per step 

##  0.9 Stepper Motor
#full_steps_per_rotation: 400
#microsteps: 32

##  1.8 Stepper
full_steps_per_rotation: 200
microsteps: 16


gear_ratio: 80:16
rotation_distance: 40